.footer-sections {
    padding: 0px 30px 10px 30px !important;
 }
 
 .footer-links {
    text-decoration: none;
    color: rgb(186, 186, 186);
 }
 
 .footer-links-parent {
    transition: ease 1s;
    font-size: 12px;
 }
 
 .footer-links-parent:hover {
    margin-left: 5px;
 }
 
 .footer-text {
    font-size: 16px;
    color: rgb(186, 186, 186);
    cursor: pointer;
 }

 .footer-text:hover {
    color: white;
 }

 .copyright {
    color: rgb(186, 186, 186);
    font-size: 14px;
    text-align: center;
 }