.navigation-bar {
    position: fixed;
    border-radius: 15px;
    border-bottom: solid 5px rgb(208, 133, 255);
    background-color: rgb(37, 37, 37);
    box-shadow: 0px 0px 20px 0px rgb(0, 0, 0);
    width: 97%;
    top: 0;
    z-index: 15;
    left: 50%;
    transform: translate(-50%, 10%);
}

.nav-links {
    transition: ease 1s;
}

.nav-links:hover {
    transform: scale(1.1);
    transition: ease 1s;
    margin: 0px 6px;
}

@media only screen and (max-width: 800px) {
    .nav-links{
        font-size: 10px;
    }
    
    .nav-brand {
        font-size: 18px;
    }
    
    .icon-buttons {
        font-size: 22px;
    }
    
    @media only screen and (max-width: 799px) {
        .nav-links{
            font-size: 10px;
        }
        
        .nav-brand {
            font-size: 14px;
        }
        
        .icon-buttons {
            font-size: 18px;
        }
    }
    @media only screen and (max-width: 798px) {
        .nav-links{
            font-size: 9px;
        }
        
        .nav-brand {
            font-size: 12px;
        }
        
        .icon-buttons {
            font-size: 17px;
        } 
    }
}